.total-price {
    padding: 1rem;
    border: var(--border-style);
    background-color: var(--white-color);
}

.total-price .total {
    font-size: 2rem;
    color: var(--light-color);
}

.total-price .total span {
    font-size: 2.3rem;
    font-weight: 500;
    color: var(--black-color);
    letter-spacing:.2rem;
}

/* MY ITEM */
.cart-main {
    margin-top: 3rem;
}

.cart-body .box {
    background-color: var(--white-color);
    border: var(--border-style);
    padding: 2rem;
    overflow: hidden;
    position: relative;
}

.cart-body .box .image {
    width: 100%;
}

.cart-body .box .image img {
    width: 100%;
    height: 30rem;
    object-fit: contain;
    margin: 0;
}

.cart-body .box .image a,
.cart-body .box .image i {
    position: absolute;
    top: 1.5rem;
    font-size: 2rem;
    border: var(--border-style);
    width: 4.5rem; height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
}

.cart-body .box .image a {
    background-color: var(--white-color);
    color: var(--black-color);
    left: -5rem;
}

.cart-body .box .image a:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.cart-body .box .image i {
    background-color: var(--red-color);
    color: var(--white-color);
    right: 1.5rem;
}

.cart-body .box .image i:hover {
    background-color: var(--black-color);
}

.cart-body .box:hover .image a{
    left: 1.5rem;
}

.cart-body .content h3{
    font-size: 2.1rem;
    font-weight: 400;
}

.cart-body .content .flex {
    margin-top:2rem;
}

.cart-body .content .price {
    font-size: 2.5rem;
    color: var(--black-color);
    letter-spacing: -.2rem;
}

.cart-body .content .price span {
    color: var(--light-color);
    font-size: 2rem;
}

.cart-body .content .flex input{
    font-size: 1.8rem;
    color: var(--black-color);
    border: var(--border-style);
    padding: 1rem;
    width:8rem;
}

.cart-body .content .flex .input {
    display: flex;
    align-items: center;
}

.cart-body .content .flex .input button {
    font-size:2rem;
    color: var(--black-color);
    background-color: var(--yellow-color);
    width: 5rem;
    height: 4.6rem;
    line-height: 4.5rem;
    text-align: center;
    border: var(--border-style);
    margin-left: 1rem;
}

.cart-body .content .flex .input button:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.cart-body .content .total {
    font-size:1.7rem;
    color: var(--light-color);
}

.cart-body .content .total span {
    font-size:1.9rem;
    color: var(--black-color);
    letter-spacing:.1rem;
}


